DATABASE_URL="postgresql://postgres:<YOUR_SUPABASE_DB_PASSWORD>@db.aujguzeejukhopajxbqe.supabase.co:5432/postgres?schema=public"
JWT_SECRET="replace-this-with-a-random-secret-at-least-32-characters"
FRONTEND_ORIGIN="http://localhost:3000"
